always try to go back to the docs if unclear

https://docs.moralis.com/streams-api/evm
https://docs.moralis.com/streams-api/evm/setup-secret-key
https://docs.moralis.com/streams-api/evm/using-node-js-sdk
https://docs.moralis.com/streams-api/evm/using-webui
https://docs.moralis.com/streams-api/evm/parse-data
https://docs.moralis.com/streams-api/evm/stream-management
https://docs.moralis.com/streams-api/evm/streams-configuration/filter-streams
https://docs.moralis.com/streams-api/evm/error-handling
https://docs.moralis.com/streams-api/evm/firebase-integration
https://docs.moralis.com/streams-api/evm/streams-configuration/useful-streams-options
https://docs.moralis.com/streams-api/evm/streams-configuration/stream-address-management-rate-limits
https://docs.moralis.com/streams-api/evm/how-to-listen-to-all-erc20-contract-transfers-over-certain-amount-sent-by-specific-address
https://docs.moralis.com/streams-api/evm/how-to-listen-all-events-from-a-contract-factory
https://docs.moralis.com/streams-api/evm/how-to-listen-all-nft-transfers
https://docs.moralis.com/streams-api/evm/how-to-listen-to-all-nft-transfers-sent-from-a-specific-address
https://docs.moralis.com/streams-api/evm/how-to-monitor-ens-domain-registrations
https://docs.moralis.com/streams-api/evm/how-to-monitor-for-erc20-token-burns-or-mints
https://docs.moralis.com/streams-api/evm/how-to-monitor-specific-nfts
https://docs.moralis.com/streams-api/evm/how-to-track-specific-erc20-token-transfers-from-a-list-of-wallets
https://docs.moralis.com/streams-api/evm/listen-to-all-addresses
https://docs.moralis.com/streams-api/evm/monitor-multiple-addresses
https://docs.moralis.com/streams-api/evm/get-native-balances
https://docs.moralis.com/streams-api/evm/reference/get-history
https://docs.moralis.com/streams-api/evm/reference/replay-history
https://docs.moralis.com/streams-api/evm/reference/get-logs
https://docs.moralis.com/streams-api/evm/reference/set-settings
https://docs.moralis.com/streams-api/evm/reference/get-settings
https://docs.moralis.com/streams-api/evm/reference/get-stats
https://docs.moralis.com/streams-api/evm/reference/get-stats-by-streamid
https://docs.moralis.com/streams-api/evm/reference/get-streams
https://docs.moralis.com/streams-api/evm/reference/create-stream?topic0=%5B%5D&getNativeBalances=%7B%22selectors%22:%5B%5D%7D&abi=%7B%22inputs%22:%7B%7D,%22outputs%22:%7B%7D%7D&advancedOptions=%7B%22filter%22:%7B%7D%7D&chainIds=%5B%5D&triggers=%7B%22inputs%22:%5B%5D,%22functionAbi%22:%7B%22inputs%22:%5B%5D,%22outputs%22:%5B%5D%7D%7D

https://docs.moralis.com/streams-api/evm/reference/get-stream

https://docs.moralis.com/streams-api/evm/reference/update-stream?topic0=%5B%5D&getNativeBalances=%7B%22selectors%22:%5B%5D%7D&abi=%7B%22inputs%22:%7B%7D,%22outputs%22:%7B%7D%7D&advancedOptions=%7B%22filter%22:%7B%7D%7D&chainIds=%5B%5D&triggers=%7B%22inputs%22:%5B%5D,%22functionAbi%22:%7B%22inputs%22:%5B%5D,%22outputs%22:%5B%5D%7D%7D

https://docs.moralis.com/streams-api/evm/reference/delete-stream

https://docs.moralis.com/streams-api/evm/reference/update-stream-status

https://docs.moralis.com/streams-api/evm/reference/get-addresses

https://docs.moralis.com/streams-api/evm/reference/add-address-to-stream

https://docs.moralis.com/streams-api/evm/reference/delete-address-from-stream

https://docs.moralis.com/streams-api/evm/reference/get-stream-block-data-by-number?tag=my-tag&topic0=%5B%5D&allAddresses=false&includeNativeTxs=true&includeContractLogs=false&includeInternalTxs=false&includeAllTxLogs=true&abi=%7B%22inputs%22:%7B%7D,%22outputs%22:%7B%7D%7D&advancedOptions=%7B%22filter%22:%7B%7D%7D&addresses=%5B%220x95222290DD7278Aa3Ddd389Cc1E1d165CC4BAfe5%22%5D&chainId=0x1&blockNumber=20226240

https://docs.moralis.com/streams-api/evm/reference/get-stream-block-data-to-webhook-by-block